doctype html
html(lang="sp")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="img/logo.png", type="image/png")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet")
        title Taller 1 Maquetacion Web PUG
    body 
        header Header
            nav Nav
        section Section
            nav Nav
            aside Aside
        div(class="Caja")
            section(class="noticias") Section
                header Header
                article Article
                    header Header
                    div Div 
                    aside Aside
                    p P
                article Article
                    header Header
                    div Div 
                    p P
                    footer footer
            section(class="noticias") Section
                header Header
                article Article
                    header Header
                    div Div 
                    aside Aside
                    p P
                article Article
                    header Header
                    div Div 
                    p P
                    footer footer
        footer footer